main{
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(112, 100, 100);
font-family: Arial, sans-serif;}
    
    
    


.img-1 {
    position: absolute;
        top:300px;
        left:0;
        margin:0;
    display:flex;
    justify-content: flex-start;
    border: #f0f0f0 solid 5px;
    border-color: blue;
    border-width: 1rem;
    border-radius:15rem;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    align-items: left;
    float: left;
    margin-right: 40rem;}

    .img-2 {
        position: absolute;
        top:0;
        left:0;
        margin:0;
     display:flex;
    justify-content: flex-start;
    border: #f0f0f0 solid 5px;
    border-color: rgb(4, 4, 118);
    border-width: 0.2rem;
    border-radius:50px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
    
    align-items: left;
    float: left;}

    .img-3 {
        position: absolute;
        top:300px;
        left:400px;
        right:800px;
        margin:22px;
     display:flex;
    justify-content: flex-start;
    border: #f0f0f0 solid 5px;
    border-width: 0.7rem;
    border-radius: 40%;
    box-shadow: 1rem;
    align-items: left

}

    .flexlayout {
        display:flex;
    justify-content: right;
    align-items: flex-end;
    margin-bottom:10rem}

.flexlayout-2 img {
    border: #f10707 solid 5px;
    border-radius: 50px;
}
.flexlayout-2 {
    border: none; /* Remove border from the div */
            display:flex;
    justify-content: right;
    align-items: flex-end;
    margin-bottom:10rem
}